@import "tailwindcss";
/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
    width: 0.5rem; /* Adjust width */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #c6c5c3; /* Scrollbar color */
    border-radius: 6px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: transparent;/* Hover effect */
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent; /* Track color */
    border-radius: 6px;
  }
  